body {
    background: linear-gradient(45deg, #000000, #004d00);
}

.caixa-login {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-verde-escuro {
    background-color: #004d00;
    color: #ffffff;
}
.btn-verde-escuro:hover {
    background-color: #003300;
    color: #ffffff;
}

/* Rodapé */
.footer {
    background-color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-neon {
    color: #39ff14;
}
.link-rodape {
    color: #39ff14;
    text-decoration: none;
}
.link-rodape:hover {
    color: #66ff66;
}