body {
    background: linear-gradient(45deg, #000000, #001300);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 100px;
}

#balancoChart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#exportButton {
    margin-top: 20px;
    background-color: #39ff14; 
    border-color: #39ff14;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

#exportButton:hover {
    background-color: #66ff66; 
    border-color: #66ff66;
}

/* Navbar Vertical */
.navbar-vertical {
    width: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    height: calc(100% - 50px);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    transition: width 0.3s;
    z-index: 1;
}

.navbar-vertical:hover {
    width: 200px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
    text-decoration: none;
    color: #39ff14;
    
}

.nav-item:hover .nav-text {
    color: #66ff66;
}

.navbar-vertical:hover .nav-item {
    justify-content: flex-start;
}

.nav-text {
    display: none;
    color: white;
    margin-left: 10px;
}

.navbar-vertical:hover .nav-text {
    display: inline-block;
}

/* Container do Formulário */
.container-financeiro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-financeiro {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    max-width: 500px;
    width: 100%;
}

/* Título do Formulário */
h2.text-neon {
    color: #39ff14; 
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos Inputs */
.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #39ff14;
    color: black;
}

.form-control::placeholder {
    color: #001300;
}

button {
    background-color: #39ff14;
}

/* Rodapé */
.footer {
    background-color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-neon {
    color: #39ff14;
}
.link-rodape {
    color: #39ff14;
    text-decoration: none;
}
.link-rodape:hover {
    color: #66ff66;
}
